[submodule "back-end/src/shared"]
	path = back-end/src/shared
	url = https://github.com/pfrances/transcendance_shared.git
[submodule "front-end/app/shared"]
	path = front-end/app/shared
	url = https://github.com/pfrances/transcendance_shared.git
